# make it easier to run uv
PYTHONPATH=.

# Enable flash attention
OLLAMA_FLASH_ATTENTION=1
# Enable context cache compaction to 8bits. Default is 'fp16' 16bits
OLLAMA_KV_CACHE_TYPE=q4_0

DEEPSEEK_API_KEY=sk-xxxxx
OPENAI_API_KEY=sk-proj-xxxx

DEBUG=false
TAVILY_API_KEY=tvly-dev-xxxx
BRAVE_SEARCH_API_KEY=xxxx

LLAMA_PARSE_API_KEY=llx-xxxxx
HF_TOKEN=hf_xxxxx

# General Environment Variables
PROJECTS_PATH=projects
CONFIG_PATH=config.yaml

# Service Ports
QDRANT_PORT_MAIN=6333
QDRANT_PORT_GRPC=6334
EXTRACTION_PORT=8001
VECTORDB_PORT=8002
CORE_APP_API_PORT=8180
CORE_APP_UI_PORT=8190

# LLM Configuration
OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_BASE_URL=http://host.docker.internal:11434

# Service URLs
EXTRACTION_SERVICE_URL=http://extraction-service:${EXTRACTION_PORT}
VECTORDB_SERVICE_URL=http://vectordb-service:${VECTORDB_PORT}
