# Enable flash attention
OLLAMA_FLASH_ATTENTION=1
# Enable context cache compaction to 8bits. Default is 'fp16' 16bits
OLLAMA_KV_CACHE_TYPE=q4_0

DEEPSEEK_API_KEY=sk-xxxxx
OPENAI_API_KEY=sk-proj-xxxx

TAVILY_API_KEY=tvly-dev-xxxx
BRAVE_SEARCH_API_KEY=xxxx

# Web Service Configuration
VECTORDB_SERVICE_URL = http://localhost:8002	
EXTRACTION_SERVICE_URL	= http://localhost:8001	

PROJECTS_BASE_DIR = .projects

# PORTS
VECTORDB_PORT = 8002
EXTRACTION_PORT = 8001
CORE_APP_PORT = 8190
